.personal-details-page {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  /* margin-bottom: 100px; */
}

.personal-details-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-details-form :last-child {
  align-self: flex-end;
}

/* .form-element{
  margin-left: auto;
  margin-right: auto;
} */

.input-label {
  margin-bottom: 25px;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
